@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&family=Noto+Serif+KR:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 CSS는 여기 아래에 작성 */

@layer base {
  body {
    @apply m-0 bg-vivid-blue min-h-screen font-sans font-semibold antialiased 
    overflow-hidden leading-base;
  }
}

code {
  @apply font-mono;
}

@layer components {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .sr-only:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}

/* 스크린 리더 전용 영역 */
.sr-region {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

